<h1>Recipes#show</h1>
<p>Find me in app/views/recipes/show.html.erb</p>
<% if plane.photo.key? %>
          <%= cl_image_tag plane.photo.key, height: 180, crop: :fill, class: "" %>
            <% else %>
          <%= image_tag "https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" %>
            <% end %>
