<div class="card">
<h2>Welcome to <%= place.city || place.region || place.country %>'s cuisine</h2>
<% if place.address.include?("city", "region") %>
<h3>Basic ingredients :</h3>
  <% ingredients.each do |ingr|%>
     <p><%= ingr.name %></p>
  <% else %>
  <%= Youpi %>
  <% end %>
</div>
