<div data-controller='card'>
  <%= image_tag "logo.png", class: "marker",
              height: 30,
              width: 30,
              alt: "Logo",
              data: {
                action: 'click->card#displayCard',
                card_place_id_param: place.id
              }
  %>
</div>
