<div class="containeur-profile">
  <div class="how-section1">
      <div class="how-img">
        <% if current_user.name == "alexis" || current_user.name == "cecile" || current_user.name == "ouss" %>
          <%= image_tag "users/#{current_user.name}.png", class: "rounded-circle img-fluid", :style => "width:8em" %>
        <% else %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "rounded-circle img-fluid" %>
        <% end %>
      </div>
    </div>
      <div class="recipes-user">
      <ul>
        <li>Butter chicken</li>
        <li>Thai green curry</li>
        <li>Massaman curry</li>
        <li>Shrimp tempura</li>
        <li>Tantanmen</li>
        <li>Quiche Lorraine</li>
        <li>Dahl Makhni</li>
        <li>Cheese naan</li>
        <li>Pho</li>
        <li>Banh Mi</li>
        <li>Banh cuon</li>
        <li>Drunken noodles</li>
      </ul>
    </div>
      <%= link_to "/", class: "btn-home-profile" do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
  </div>
