// .z-index {
//   position: relative;
//   z-index: 5;
// }

// .marker {
//   // z-index: -5;
//   position: relative;
// }
.card {
  ul {
    list-style: none;
  }
}

.flip-card {
  background-color: transparent !important;
  width: 200px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  position: absolute;
  top: 0;
  overflow: scroll;
  font-family: Raleway;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }

  .flip-card-inner {
    height: 100%;
    transform: rotateY(0deg)
  }

  &::-webkit-scrollbar {
    display: none;
  }

}

.mapboxgl-popup-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  max-height: 12rem;
  overflow-y: scroll;
  padding: 0 !important;
}

.display-none {
  display: none;
  z-index: -5;
  width: 0;
  height: 0;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: fit-content;
  min-height: 100%;
  h3 {
    color: #FFD700;
  }
}

.flip-card-front {
  background-color: #FFFFF0;
  color: black;
  opacity: 1;
  text-align: center;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
    font-weight: 600;
    color: #993300;
  }
}

.flip-card-back {
  background-color: #FFFFF0;
  color: white;
  transform: rotateY(180deg);
  opacity: 1;
  a {
    text-decoration: none;
    color: #993300;
  }

  ul {
    padding-right: 5px;
    padding-left: 17px;
    font-weight: 600;
  }
}


.close-btn {
  display: flex;
  justify-content: flex-end;
}


#chatbot-text {
  overflow: hidden;
  word-wrap: break-word;
}


#chatbot-btn:active {
  background-color: #85c4d9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
