.mapboxgl-popup {
  max-width: 12rem !important;
  border-radius: 30px !important;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: #D2691E !important;
}

.mapboxgl-popup-tip {
  border: none !important;
}
