.img {
  float: right;
  width: 200px;
  transform: rotate(100deg);


  }

  .containeur {
     margin-left: 2em;

    }

    .recipe_content{
      margin-top: 18rem;
    }

  .a{
    bottom: 0;
    position: absolute;
  }
