// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "map";
@import "img";
@import "card";
@import "show";
@import "profile";

body {
  font-family: Raleway;
  background-color: #FADA5E;
}

.col-md-6 {
  float: right;
}
