// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "map";
@import "img";
@import "card";
@import "show";

body {
  font-family: Raleway;
}

.recipes-user {
  font-size: 1.5em;
  justify-content: space-between;
  margin-top: 3em;

}

.col-md-6 {
  float: right;
}

.containeur-profile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 2rem;
}
