.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 800px;
}

.col-12 {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
}


.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 800px;
}

.form {
  z-index: 2;
  position: absolute;
}
