#myPieChart {
  position: relative;
  bottom: 2rem;
}


.how-img {
  float: right;
  margin-right: 1rem;
}


h3 {
  color: #7C0902;
}

rect {
  fill: #FADA5E;
}

ul {
  list-style: none;
  margin-left: -31px;

  a {
    text-decoration: none;
    color: #800000;
  }

  li:not(:last-child) {
    margin-bottom: 0.5rem;
 }
}

g {
  display: flex;
}

.recipes-user {
  font-size: 1.5em;
  justify-content: space-between;
  position: relative;
  top: 8rem;
  width: 58%;
}

.containeur-profile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 1rem 1.5rem 2rem 1.5rem;
}

.btn-home-profile {
  color: #800000;
  position: relative;
  bottom: 0rem;
  font-size: 30px;
  margin-left: 1rem;
}
