body {
  font-family: Raleway;
  background-color: #FFE4B8;
}

.btn-home {

  position: absolute;
  bottom: 0;
  margin-bottom: 0.5em;
  margin-left: -1.8em;
  font-size: 1em;
}
.container {
  margin-left: 2em;
  margin-right: 2rem;
 }

 .recipe-content{
  color: maroon;
  margin-top: 11.5rem;
  font-size: 19px;
  margin-left: 1em;
  font-weight: 600;
  margin-right: 18rem;

 }

 h2 {
  text-align: center;
  font-size: 2em;
  color: #ff9900;
 }

 .place-recipe {
  color: maroon;
  margin-top: 2rem;
  font-size: 2rem;
  margin-left: 12em;

 }

 .name-recipe {
    margin-left: 5em;
    font-size: 2rem;
    color: #800000;
    font-weight: bold;
}

span {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 19rem;
  color: purple

}

.recipe-top {
  margin-top: 2.5rem;

}
